-- MySQL dump 10.13  Distrib 8.4.11, for Win64 (x86_64)
--
-- Host: localhost    Database: citirx
-- ------------------------------------------------------
-- Server version	8.4.11

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `assessment_sessions`
--

DROP TABLE IF EXISTS `assessment_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assessment_sessions` (
  `session_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_type` enum('diagnostic','practice','mock_board','pvp') COLLATE utf8mb4_unicode_ci NOT NULL,
  `research_phase` enum('none','pre_test','post_test') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'none',
  `total_items` int unsigned NOT NULL DEFAULT '0',
  `correct_items` int unsigned NOT NULL DEFAULT '0',
  `xp_awarded` int unsigned NOT NULL DEFAULT '0',
  `started_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `completed_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`session_id`),
  KEY `idx_user_started` (`user_id`,`started_at`),
  KEY `idx_research_phase` (`user_id`,`research_phase`),
  CONSTRAINT `assessment_sessions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessment_sessions`
--

LOCK TABLES `assessment_sessions` WRITE;
/*!40000 ALTER TABLE `assessment_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessment_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `badges`
--

DROP TABLE IF EXISTS `badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `badges` (
  `badge_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `badge_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `badge_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `icon_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `criteria_json` json NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`badge_id`),
  UNIQUE KEY `badge_code` (`badge_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badges`
--

LOCK TABLES `badges` WRITE;
/*!40000 ALTER TABLE `badges` DISABLE KEYS */;
/*!40000 ALTER TABLE `badges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cohorts`
--

DROP TABLE IF EXISTS `cohorts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cohorts` (
  `cohort_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cohort_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `academic_year` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_phle_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`cohort_id`),
  UNIQUE KEY `uq_cohort_name_year` (`cohort_name`,`academic_year`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cohorts`
--

LOCK TABLES `cohorts` WRITE;
/*!40000 ALTER TABLE `cohorts` DISABLE KEYS */;
/*!40000 ALTER TABLE `cohorts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty_interventions`
--

DROP TABLE IF EXISTS `faculty_interventions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty_interventions` (
  `intervention_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `faculty_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `domain_id` int unsigned NOT NULL,
  `competency_id` char(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `intervention_type` enum('advisory','reminder','study_plan','meeting','other') COLLATE utf8mb4_unicode_ci NOT NULL,
  `custom_message` text COLLATE utf8mb4_unicode_ci,
  `is_completed` tinyint(1) NOT NULL DEFAULT '0',
  `assigned_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `completed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`intervention_id`),
  KEY `idx_target_user` (`target_user_id`),
  KEY `idx_competency` (`competency_id`),
  KEY `faculty_id` (`faculty_id`),
  KEY `domain_id` (`domain_id`),
  CONSTRAINT `faculty_interventions_ibfk_1` FOREIGN KEY (`faculty_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `faculty_interventions_ibfk_2` FOREIGN KEY (`target_user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `faculty_interventions_ibfk_3` FOREIGN KEY (`domain_id`) REFERENCES `tos_domains` (`domain_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `faculty_interventions_ibfk_4` FOREIGN KEY (`competency_id`) REFERENCES `tos_competencies` (`competency_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty_interventions`
--

LOCK TABLES `faculty_interventions` WRITE;
/*!40000 ALTER TABLE `faculty_interventions` DISABLE KEYS */;
/*!40000 ALTER TABLE `faculty_interventions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `iso_survey_evaluations`
--

DROP TABLE IF EXISTS `iso_survey_evaluations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `iso_survey_evaluations` (
  `evaluation_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `evaluator_role` enum('student','faculty','it_professional') COLLATE utf8mb4_unicode_ci NOT NULL,
  `has_submitted_external_form` tinyint(1) NOT NULL DEFAULT '0',
  `overall_mean_score` decimal(3,2) DEFAULT NULL,
  `submitted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`evaluation_id`),
  UNIQUE KEY `uq_user_evaluator_role` (`user_id`,`evaluator_role`),
  CONSTRAINT `iso_survey_evaluations_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `iso_survey_evaluations`
--

LOCK TABLES `iso_survey_evaluations` WRITE;
/*!40000 ALTER TABLE `iso_survey_evaluations` DISABLE KEYS */;
/*!40000 ALTER TABLE `iso_survey_evaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `levels`
--

DROP TABLE IF EXISTS `levels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `levels` (
  `level_number` smallint unsigned NOT NULL,
  `min_xp` int unsigned NOT NULL,
  `tier_id` tinyint unsigned NOT NULL,
  PRIMARY KEY (`level_number`),
  UNIQUE KEY `min_xp` (`min_xp`),
  KEY `tier_id` (`tier_id`),
  CONSTRAINT `levels_ibfk_1` FOREIGN KEY (`tier_id`) REFERENCES `tiers` (`tier_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `levels`
--

LOCK TABLES `levels` WRITE;
/*!40000 ALTER TABLE `levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `micro_pearls`
--

DROP TABLE IF EXISTS `micro_pearls`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `micro_pearls` (
  `pearl_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `competency_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mnemonic_summary` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `estimated_read_seconds` int unsigned NOT NULL DEFAULT '0',
  `order_index` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`pearl_id`),
  UNIQUE KEY `uq_competency_pearl_order` (`competency_id`,`order_index`),
  CONSTRAINT `micro_pearls_ibfk_1` FOREIGN KEY (`competency_id`) REFERENCES `tos_competencies` (`competency_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `micro_pearls`
--

LOCK TABLES `micro_pearls` WRITE;
/*!40000 ALTER TABLE `micro_pearls` DISABLE KEYS */;
/*!40000 ALTER TABLE `micro_pearls` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pvp_matches`
--

DROP TABLE IF EXISTS `pvp_matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pvp_matches` (
  `match_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bot_persona_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_final_score` int unsigned NOT NULL DEFAULT '0',
  `bot_final_score` int unsigned NOT NULL DEFAULT '0',
  `outcome` enum('win','loss','draw') COLLATE utf8mb4_unicode_ci NOT NULL,
  `xp_earned` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`match_id`),
  UNIQUE KEY `session_id` (`session_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `pvp_matches_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `pvp_matches_ibfk_2` FOREIGN KEY (`session_id`) REFERENCES `assessment_sessions` (`session_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pvp_matches`
--

LOCK TABLES `pvp_matches` WRITE;
/*!40000 ALTER TABLE `pvp_matches` DISABLE KEYS */;
/*!40000 ALTER TABLE `pvp_matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_bookmarks`
--

DROP TABLE IF EXISTS `question_bookmarks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_bookmarks` (
  `bookmark_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `personal_notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`bookmark_id`),
  UNIQUE KEY `uq_user_question_bookmark` (`user_id`,`question_id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `question_bookmarks_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `question_bookmarks_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `questions` (`question_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_bookmarks`
--

LOCK TABLES `question_bookmarks` WRITE;
/*!40000 ALTER TABLE `question_bookmarks` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_bookmarks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_choices`
--

DROP TABLE IF EXISTS `question_choices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_choices` (
  `choice_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `choice_letter` char(1) COLLATE utf8mb4_unicode_ci NOT NULL,
  `choice_text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_correct` tinyint(1) NOT NULL DEFAULT '0',
  `distractor_fallacy_note` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`choice_id`),
  UNIQUE KEY `uq_question_choice_letter` (`question_id`,`choice_letter`),
  CONSTRAINT `question_choices_ibfk_1` FOREIGN KEY (`question_id`) REFERENCES `questions` (`question_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_choice_letter` CHECK ((`choice_letter` in (_utf8mb4'A',_utf8mb4'B',_utf8mb4'C',_utf8mb4'D')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_choices`
--

LOCK TABLES `question_choices` WRITE;
/*!40000 ALTER TABLE `question_choices` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_choices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questions`
--

DROP TABLE IF EXISTS `questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `questions` (
  `question_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `competency_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `hypercorrection_rationale` text COLLATE utf8mb4_unicode_ci,
  `is_diagnostic_pool` tinyint(1) NOT NULL DEFAULT '0',
  `difficulty_index_p` decimal(4,3) DEFAULT NULL,
  `speed_flag_count` int unsigned NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`question_id`),
  KEY `competency_id` (`competency_id`),
  CONSTRAINT `questions_ibfk_1` FOREIGN KEY (`competency_id`) REFERENCES `tos_competencies` (`competency_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_difficulty_index` CHECK (((`difficulty_index_p` is null) or (`difficulty_index_p` between 0 and 1)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questions`
--

LOCK TABLES `questions` WRITE;
/*!40000 ALTER TABLE `questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `research_analytics_snapshots`
--

DROP TABLE IF EXISTS `research_analytics_snapshots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `research_analytics_snapshots` (
  `snapshot_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cohort_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `snapshot_date` date NOT NULL,
  `cohort_size` int unsigned NOT NULL,
  `cohort_mean_predicted_readiness_pct` decimal(5,2) DEFAULT NULL,
  `projected_pass_rate_pct` decimal(5,2) DEFAULT NULL,
  `speed_floor_compliance_pct` decimal(5,2) DEFAULT NULL,
  `bkt_mae` decimal(6,4) DEFAULT NULL,
  `bkt_rmse` decimal(6,4) DEFAULT NULL,
  `wilcoxon_w_statistic` decimal(8,2) DEFAULT NULL,
  `wilcoxon_p_value` decimal(5,4) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`snapshot_id`),
  UNIQUE KEY `uq_cohort_snapshot_date` (`cohort_id`,`snapshot_date`),
  CONSTRAINT `research_analytics_snapshots_ibfk_1` FOREIGN KEY (`cohort_id`) REFERENCES `cohorts` (`cohort_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_pass_rate` CHECK (((`projected_pass_rate_pct` is null) or (`projected_pass_rate_pct` between 0 and 100))),
  CONSTRAINT `chk_speed_floor` CHECK (((`speed_floor_compliance_pct` is null) or (`speed_floor_compliance_pct` between 0 and 100))),
  CONSTRAINT `chk_wilcoxon_p` CHECK (((`wilcoxon_p_value` is null) or (`wilcoxon_p_value` between 0 and 1)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `research_analytics_snapshots`
--

LOCK TABLES `research_analytics_snapshots` WRITE;
/*!40000 ALTER TABLE `research_analytics_snapshots` DISABLE KEYS */;
/*!40000 ALTER TABLE `research_analytics_snapshots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `response_telemetry_logs`
--

DROP TABLE IF EXISTS `response_telemetry_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `response_telemetry_logs` (
  `log_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `competency_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `selected_choice_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_correct` tinyint(1) NOT NULL,
  `response_time_seconds` decimal(6,2) NOT NULL,
  `item_position` smallint unsigned DEFAULT NULL,
  `is_speed_flagged` tinyint(1) NOT NULL DEFAULT '0',
  `prior_p_l` decimal(5,4) NOT NULL,
  `posterior_p_l` decimal(5,4) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `idx_user_created` (`user_id`,`created_at`),
  KEY `idx_competency` (`competency_id`),
  KEY `session_id` (`session_id`),
  KEY `question_id` (`question_id`),
  KEY `selected_choice_id` (`selected_choice_id`),
  CONSTRAINT `response_telemetry_logs_ibfk_1` FOREIGN KEY (`session_id`) REFERENCES `assessment_sessions` (`session_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `response_telemetry_logs_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `response_telemetry_logs_ibfk_3` FOREIGN KEY (`question_id`) REFERENCES `questions` (`question_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `response_telemetry_logs_ibfk_4` FOREIGN KEY (`competency_id`) REFERENCES `tos_competencies` (`competency_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `response_telemetry_logs_ibfk_5` FOREIGN KEY (`selected_choice_id`) REFERENCES `question_choices` (`choice_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_posterior_range` CHECK ((`posterior_p_l` between 0 and 1)),
  CONSTRAINT `chk_prior_range` CHECK ((`prior_p_l` between 0 and 1)),
  CONSTRAINT `chk_response_time` CHECK ((`response_time_seconds` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `response_telemetry_logs`
--

LOCK TABLES `response_telemetry_logs` WRITE;
/*!40000 ALTER TABLE `response_telemetry_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `response_telemetry_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rx_vault`
--

DROP TABLE IF EXISTS `rx_vault`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rx_vault` (
  `vault_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `consecutive_correct_count` int unsigned NOT NULL DEFAULT '0',
  `is_cleared` tinyint(1) NOT NULL DEFAULT '0',
  `added_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `cleared_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`vault_id`),
  UNIQUE KEY `uq_user_question_vault` (`user_id`,`question_id`),
  KEY `idx_user_cleared` (`user_id`,`is_cleared`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `rx_vault_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `rx_vault_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `questions` (`question_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rx_vault`
--

LOCK TABLES `rx_vault` WRITE;
/*!40000 ALTER TABLE `rx_vault` DISABLE KEYS */;
/*!40000 ALTER TABLE `rx_vault` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_items`
--

DROP TABLE IF EXISTS `survey_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey_items` (
  `item_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `iso_characteristic` enum('functional_suitability','performance_efficiency','compatibility','usability','reliability','security','maintainability','portability','interaction_capability','flexibility','safety') COLLATE utf8mb4_unicode_ci NOT NULL,
  `item_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `item_text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `order_index` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`item_id`),
  UNIQUE KEY `item_code` (`item_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_items`
--

LOCK TABLES `survey_items` WRITE;
/*!40000 ALTER TABLE `survey_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_responses`
--

DROP TABLE IF EXISTS `survey_responses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey_responses` (
  `response_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `evaluation_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `item_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `likert_score` tinyint unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`response_id`),
  UNIQUE KEY `uq_eval_item` (`evaluation_id`,`item_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `survey_responses_ibfk_1` FOREIGN KEY (`evaluation_id`) REFERENCES `iso_survey_evaluations` (`evaluation_id`) ON DELETE CASCADE,
  CONSTRAINT `survey_responses_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `survey_items` (`item_id`) ON DELETE RESTRICT,
  CONSTRAINT `chk_likert` CHECK ((`likert_score` between 1 and 5))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_responses`
--

LOCK TABLES `survey_responses` WRITE;
/*!40000 ALTER TABLE `survey_responses` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_responses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiers`
--

DROP TABLE IF EXISTS `tiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tiers` (
  `tier_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `tier_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tier_rank` tinyint unsigned NOT NULL,
  PRIMARY KEY (`tier_id`),
  UNIQUE KEY `tier_name` (`tier_name`),
  UNIQUE KEY `tier_rank` (`tier_rank`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiers`
--

LOCK TABLES `tiers` WRITE;
/*!40000 ALTER TABLE `tiers` DISABLE KEYS */;
/*!40000 ALTER TABLE `tiers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tos_competencies`
--

DROP TABLE IF EXISTS `tos_competencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tos_competencies` (
  `competency_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `domain_id` int unsigned NOT NULL,
  `competency_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `order_index` int unsigned NOT NULL DEFAULT '0',
  `bkt_transition_p_t` decimal(5,4) NOT NULL DEFAULT '0.1000',
  PRIMARY KEY (`competency_id`),
  UNIQUE KEY `competency_code` (`competency_code`),
  UNIQUE KEY `uq_domain_competency_order` (`domain_id`,`order_index`),
  CONSTRAINT `tos_competencies_ibfk_1` FOREIGN KEY (`domain_id`) REFERENCES `tos_domains` (`domain_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_p_t` CHECK ((`bkt_transition_p_t` between 0 and 1))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tos_competencies`
--

LOCK TABLES `tos_competencies` WRITE;
/*!40000 ALTER TABLE `tos_competencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `tos_competencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tos_domains`
--

DROP TABLE IF EXISTS `tos_domains`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tos_domains` (
  `domain_id` int unsigned NOT NULL AUTO_INCREMENT,
  `domain_number` int unsigned NOT NULL,
  `domain_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prc_weight_percentage` decimal(4,2) NOT NULL,
  PRIMARY KEY (`domain_id`),
  UNIQUE KEY `domain_number` (`domain_number`),
  CONSTRAINT `chk_domain_weight` CHECK ((`prc_weight_percentage` between 0 and 100))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tos_domains`
--

LOCK TABLES `tos_domains` WRITE;
/*!40000 ALTER TABLE `tos_domains` DISABLE KEYS */;
/*!40000 ALTER TABLE `tos_domains` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_badges`
--

DROP TABLE IF EXISTS `user_badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_badges` (
  `user_badge_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `badge_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unlocked_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_badge_id`),
  UNIQUE KEY `uq_user_badge` (`user_id`,`badge_id`),
  KEY `badge_id` (`badge_id`),
  CONSTRAINT `user_badges_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT,
  CONSTRAINT `user_badges_ibfk_2` FOREIGN KEY (`badge_id`) REFERENCES `badges` (`badge_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_badges`
--

LOCK TABLES `user_badges` WRITE;
/*!40000 ALTER TABLE `user_badges` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_badges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_knowledge_states`
--

DROP TABLE IF EXISTS `user_knowledge_states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_knowledge_states` (
  `state_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `competency_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `current_mastery_p_l` decimal(5,4) NOT NULL DEFAULT '0.0000',
  `total_attempts` int unsigned NOT NULL DEFAULT '0',
  `total_correct` int unsigned NOT NULL DEFAULT '0',
  `last_evaluated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`state_id`),
  UNIQUE KEY `uq_user_competency` (`user_id`,`competency_id`),
  KEY `competency_id` (`competency_id`),
  CONSTRAINT `user_knowledge_states_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `user_knowledge_states_ibfk_2` FOREIGN KEY (`competency_id`) REFERENCES `tos_competencies` (`competency_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_mastery_range` CHECK ((`current_mastery_p_l` between 0 and 1))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_knowledge_states`
--

LOCK TABLES `user_knowledge_states` WRITE;
/*!40000 ALTER TABLE `user_knowledge_states` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_knowledge_states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `middle_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cohort_id` char(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `student_id` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `role` enum('student','faculty','admin') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'student',
  `is_diagnostic_completed` tinyint(1) NOT NULL DEFAULT '0',
  `predicted_readiness_pct` decimal(5,2) DEFAULT NULL,
  `total_xp` int unsigned NOT NULL DEFAULT '0',
  `current_level` smallint unsigned DEFAULT NULL,
  `streak_count` int unsigned NOT NULL DEFAULT '0',
  `last_active_date` date DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `student_id` (`student_id`),
  KEY `cohort_id` (`cohort_id`),
  KEY `current_level` (`current_level`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`cohort_id`) REFERENCES `cohorts` (`cohort_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `users_ibfk_2` FOREIGN KEY (`current_level`) REFERENCES `levels` (`level_number`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_predicted_readiness` CHECK (((`predicted_readiness_pct` is null) or (`predicted_readiness_pct` between 0 and 100)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `xp_transactions`
--

DROP TABLE IF EXISTS `xp_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `xp_transactions` (
  `transaction_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_type` enum('assessment_session','pvp_match','badge','streak_bonus','admin_adjustment') COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_id` char(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `xp_delta` int NOT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`transaction_id`),
  KEY `idx_user_created` (`user_id`,`created_at`),
  CONSTRAINT `xp_transactions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `xp_transactions`
--

LOCK TABLES `xp_transactions` WRITE;
/*!40000 ALTER TABLE `xp_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `xp_transactions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-13  3:17:58
